%h1= title "Provinces"
%p= link_to "Add new province", new_admin_country_province_path(@country)

%table.table.table-striped
	%th= "Name"
	%th
	- @provinces.each do |province|
		%tr
			%td= link_to province.name, admin_country_province_path(@country, province)
			%td